{
	"type":"ecfg",
	"version":"1",
	
	"email_to" : "user@home.com",
	"email_cc" : ["another@home.com", "another2@home.com"],
	"email_bcc" : ["another3@home.com", "another4@home.com"],
	
	"email_subject" : "Email Subject",
	"email_body" : "<html><head></head><body><strong>Email body</strong><br />Some stuff here</body></html>",
	"email_body_file" : "attachments/email_body.html",
	
	"email_attachments" : [
		
		{
			"path" : "attachments/my_attachment.pdf",
			"mime_type" : "application/pdf"
		},
		{
			"path" : "attachments/my_image.jpg",
			"mime_type" : "image/jpg"
		}

		
	]
	
}